In [161]:
import pandas as pd

In [174]:
df = pd.read_csv('wine_scraped_dataset.csv', index_col=0)

## Assess

In [175]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23822 entries, 0 to 23821
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_name  23822 non-null  object
 1   price         23822 non-null  object
 2   varietal      23822 non-null  object
 3   origin        23819 non-null  object
 4   rating        23822 non-null  float64
 5   rating_count  23822 non-null  int64
dtypes: float64(1), int64(1), object(4)
memory usage: 1.3+ MB

In [176]:
df.head()

,product_name,price,varietal,origin,rating,rating_count
0,Dom Perignon Vintage with Gift Box 2010,199,Vintage Sparkling Wine,"Champagne, France",4.5,42
1,Veuve Clicquot Yellow Label Brut,59,Non-Vintage Sparkling Wine,"Champagne, France",4.4,1138
2,Duckhorn Napa Valley Cabernet Sauvignon 2017,78,Cabernet Sauvignon,"Napa Valley, California",4.3,62
3,Caymus Special Selection Cabernet Sauvignon 2016,180,Cabernet Sauvignon,"Napa Valley, California",4.6,108
4,Quintessa 2016,199,Cabernet Sauvignon,"Rutherford, Napa Valley, California",4.7,73

In [177]:
df['varietal'].sort_values().unique()

array(['Agiorgitiko', 'Aglianico', 'Albarino', 'Alicante Bouschet',
       'Arneis', 'Assyrtiko', 'Baga', 'Barbera', 'Blaufrankisch', 'Bobal',
       'Bordeaux Red Blends', 'Bordeaux White Blends', 'Cabernet Franc',
       'Cabernet Sauvignon', 'Carignan', 'Carmenere', 'Chardonnay',
       'Chenin Blanc', 'Cinsault', 'Corvina', 'Dolcetto', 'Fiano',
       'Friulano', 'Fruit Wine', 'Furmint', 'Gamay', 'Garganega',
       'Gewurztraminer', 'Godello', 'Greco', 'Grenache', 'Grenache Blanc',
       'Gruner Veltliner', 'Lagrein', 'Madeira', 'Malbec', 'Malvasia',
       'Marsanne', 'Melon de Bourgogne', 'Mencia', 'Merlot',
       'Montepulciano', 'Mourvedre', 'Muscat', 'Nebbiolo',
       'Nerello Mascalese', "Nero d'Avola", 'Non-Vintage Sparkling Wine',
       'Other Dessert', 'Other Red Blends', 'Other Red Wine',
       'Other White Blends', 'Other White Wine', 'Petit Verdot',
       'Petite Sirah', 'Pinot Blanc', 'Pinot Gris/Grigio', 'Pinot Noir',
       'Pinotage', 'Port', 'Red Sparkling Wine', 'Rhone Red Blends',
       'Rhone White Blends', 'Riesling', 'Rosé', 'Rosé Sparkling Wine',
       'Roussanne', 'Sagrantino', 'Sangiovese', 'Sauvignon Blanc',
       'Semillon', 'Sherry', 'Syrah/Shiraz', 'Tannat', 'Tempranillo',
       'Torrontes', 'Touriga Nacional', 'Tuscan Blends', 'Valdiguie',
       'Verdejo', 'Verdicchio', 'Vermentino', 'Vermouth',
       'Vintage Sparkling Wine', 'Viognier', 'Viura', 'Xinomavro',
       'Zinfandel'], dtype=object)

### Cleaning

The following items have been indentified as tidiness/ quality issues:
- 'origin' is missing three values
- Seperate 'origin' into 'region' and 'country'
- Remove non wines from varietals: 'Port' 'Non-Vintage Sparkling Wine' 'Vintage Sparkling Wine'

- Seperate 'year' out of 'product_name' and drop the ones that don't have a year?

### 'origin' is missing three values

In [178]:
df = df[df['origin'].notna()]

In [179]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23819 entries, 0 to 23821
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_name  23819 non-null  object
 1   price         23819 non-null  object
 2   varietal      23819 non-null  object
 3   origin        23819 non-null  object
 4   rating        23819 non-null  float64
 5   rating_count  23819 non-null  int64
dtypes: float64(1), int64(1), object(4)
memory usage: 1.3+ MB

###  separate 'origin' into 'region' and 'country'

In [180]:
df.head()

,product_name,price,varietal,origin,rating,rating_count
0,Dom Perignon Vintage with Gift Box 2010,199,Vintage Sparkling Wine,"Champagne, France",4.5,42
1,Veuve Clicquot Yellow Label Brut,59,Non-Vintage Sparkling Wine,"Champagne, France",4.4,1138
2,Duckhorn Napa Valley Cabernet Sauvignon 2017,78,Cabernet Sauvignon,"Napa Valley, California",4.3,62
3,Caymus Special Selection Cabernet Sauvignon 2016,180,Cabernet Sauvignon,"Napa Valley, California",4.6,108
4,Quintessa 2016,199,Cabernet Sauvignon,"Rutherford, Napa Valley, California",4.7,73

In [231]:
df_or = df.copy()

In [232]:
df_or = df.origin.str.rsplit(',').str[-2:]

In [234]:
df_or = df_or.to_frame()

In [236]:
df_or = pd.DataFrame(df.origin.str.split(',', 1).tolist(),
                                 columns = ['region','country'])

In [237]:
df_or

              region                     country
0          Champagne                      France
1          Champagne                      France
2        Napa Valley                  California
3        Napa Valley                  California
4         Rutherford     Napa Valley, California
...              ...                         ...
23814      Mendocino                  California
23815  Sonoma County                  California
23816  Russian River   Sonoma County, California
23817     California                        None
23818     St. Helena     Napa Valley, California

[23819 rows x 2 columns]

In [238]:
df_or.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23819 entries, 0 to 23818
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   region   23819 non-null  object
 1   country  22688 non-null  object
dtypes: object(2)
memory usage: 372.3+ KB

In [239]:
df.drop('origin', axis = 1, inplace = True)

In [240]:
df = pd.concat([df, df_or], axis=1)

In [241]:
df.dropna(inplace = True)

In [242]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22685 entries, 0 to 23818
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_name  22685 non-null  object
 1   price         22685 non-null  object
 2   varietal      22685 non-null  object
 3   rating        22685 non-null  float64
 4   rating_count  22685 non-null  float64
 5   region        22685 non-null  object
 6   country       22685 non-null  object
dtypes: float64(2), object(5)
memory usage: 1.4+ MB

### remove non wines from varietals: 'Port' 'Non-Vintage Sparkling Wine' 'Vintage Sparkling Wine'

In [147]:
df_varietals = df.copy()

In [148]:
non_varietals = ['Port', 'Non-Vintage Sparkling Wine', 'Vintage Sparkling Wine']
# Delete these row indexes from dataFrame
df_varietals = df_varietals[~df_varietals['varietal'].isin(non_varietals)]

In [149]:
# this is the df with the non-wine varietals
df_varietals['varietal'].sort_values().unique()

array(['Agiorgitiko', 'Aglianico', 'Albarino', 'Alicante Bouschet',
       'Arneis', 'Assyrtiko', 'Baga', 'Barbera', 'Blaufrankisch', 'Bobal',
       'Bordeaux Red Blends', 'Bordeaux White Blends', 'Cabernet Franc',
       'Cabernet Sauvignon', 'Carignan', 'Carmenere', 'Chardonnay',
       'Chenin Blanc', 'Corvina', 'Dolcetto', 'Fiano', 'Friulano',
       'Fruit Wine', 'Furmint', 'Gamay', 'Garganega', 'Gewurztraminer',
       'Godello', 'Greco', 'Grenache', 'Grenache Blanc',
       'Gruner Veltliner', 'Lagrein', 'Madeira', 'Malbec', 'Marsanne',
       'Melon de Bourgogne', 'Mencia', 'Merlot', 'Montepulciano',
       'Mourvedre', 'Muscat', 'Nebbiolo', 'Nerello Mascalese',
       "Nero d'Avola", 'Other Dessert', 'Other Red Blends',
       'Other Red Wine', 'Other White Blends', 'Other White Wine',
       'Petit Verdot', 'Petite Sirah', 'Pinot Blanc', 'Pinot Gris/Grigio',
       'Pinot Noir', 'Pinotage', 'Red Sparkling Wine', 'Rhone Red Blends',
       'Rhone White Blends', 'Riesling', 'Rosé', 'Rosé Sparkling Wine',
       'Roussanne', 'Sagrantino', 'Sangiovese', 'Sauvignon Blanc',
       'Semillon', 'Sherry', 'Syrah/Shiraz', 'Tannat', 'Tempranillo',
       'Torrontes', 'Touriga Nacional', 'Tuscan Blends', 'Valdiguie',
       'Verdejo', 'Verdicchio', 'Vermentino', 'Vermouth', 'Viognier',
       'Viura', 'Xinomavro', 'Zinfandel'], dtype=object)

In [253]:
df_varietals.shape

(21928, 7)

### seperate 'year' out of 'product_name' and drop the ones that don't have a year?

In [246]:
df['year']= df.product_name.str.extract('(\d+)')

In [247]:
df.head()

,product_name,price,varietal,rating,rating_count,region,country,year
0,Dom Perignon Vintage with Gift Box 2010,199,Vintage Sparkling Wine,4.5,42.0,Champagne,France,2010
1,Veuve Clicquot Yellow Label Brut,59,Non-Vintage Sparkling Wine,4.4,1138.0,Champagne,France,NaN
2,Duckhorn Napa Valley Cabernet Sauvignon 2017,78,Cabernet Sauvignon,4.3,62.0,Napa Valley,California,2017
3,Caymus Special Selection Cabernet Sauvignon 2016,180,Cabernet Sauvignon,4.6,108.0,Napa Valley,California,2016
4,Quintessa 2016,199,Cabernet Sauvignon,4.7,73.0,Rutherford,"Napa Valley, California",2016

In [250]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22579 entries, 0 to 23818
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_name  22579 non-null  object
 1   price         22579 non-null  object
 2   varietal      22579 non-null  object
 3   rating        22579 non-null  float64
 4   rating_count  22579 non-null  float64
 5   region        22579 non-null  object
 6   country       22579 non-null  object
 7   year          22579 non-null  object
dtypes: float64(2), object(6)
memory usage: 1.6+ MB

In [249]:
df.dropna(inplace = True)

## Master Dataframe Below

In [251]:
df.shape

(22579, 8)

In [254]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22579 entries, 0 to 23818
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_name  22579 non-null  object
 1   price         22579 non-null  object
 2   varietal      22579 non-null  object
 3   rating        22579 non-null  float64
 4   rating_count  22579 non-null  float64
 5   region        22579 non-null  object
 6   country       22579 non-null  object
 7   year          22579 non-null  object
dtypes: float64(2), object(6)
memory usage: 1.6+ MB

In [255]:
df.head()

,product_name,price,varietal,rating,rating_count,region,country,year
0,Dom Perignon Vintage with Gift Box 2010,199,Vintage Sparkling Wine,4.5,42.0,Champagne,France,2010
2,Duckhorn Napa Valley Cabernet Sauvignon 2017,78,Cabernet Sauvignon,4.3,62.0,Napa Valley,California,2017
3,Caymus Special Selection Cabernet Sauvignon 2016,180,Cabernet Sauvignon,4.6,108.0,Napa Valley,California,2016
4,Quintessa 2016,199,Cabernet Sauvignon,4.7,73.0,Rutherford,"Napa Valley, California",2016
5,Joseph Phelps Insignia 2016,300,Bordeaux Red Blends,4.6,81.0,Napa Valley,California,2016

In [256]:
df.to_csv('wine_master_dataset.csv')