## Quiz

In [20]:
from bs4 import BeautifulSoup
import os
import pandas as pd

In [21]:
# List of dictionaries to build file by file and later convert to a DataFrame
df_list = []
folder = 'rt_html'
for movie_html in os.listdir(folder):
    with open(os.path.join(folder, movie_html)) as file:
        soup = BeautifulSoup(file, 'html.parser')
        title = soup.find('title').contents[0][:-len(' - Rotten Tomatoes')]
        audience_score = soup.find('div', class_='audience-score meter').find('span').contents[0][:-1]
        num_audience_ratings = soup.find('div', class_='audience-info hidden-xs superPageFontColor')
        num_audience_ratings = num_audience_ratings.find_all('div')[1].contents[2].strip().replace(',', '')
        #print(num_audience_ratings)
        df_list.append({'title': title,
                        'audience_score': int(audience_score),
                        'number_of_audience_ratings': int(num_audience_ratings)})
df = pd.DataFrame(df_list, columns = ['title', 'audience_score', 'number_of_audience_ratings'])

In [28]:
df.sort_values('title', inplace = True)
df.head()

,title,audience_score,number_of_audience_ratings
32,12 Angry Men (Twelve Angry Men) (1957),97,103672
31,12 Years a Slave (2013),90,138789
71,A Hard Day's Night (1964),89,50067
96,A Streetcar Named Desire (1951),90,54761
56,Alien (1979),94,457186

## Solution Test
Run the cell below the see if your solution is correct. If an `AssertionError` is thrown, your solution is incorrect. If no error is thrown, your solution is correct.

In [23]:
df_solution = pd.read_pickle('df_solution.pkl')
df_solution.reset_index(inplace = True, drop = True)
df_solution.sort_values('title', inplace = True)
df_solution.reset_index(inplace = True, drop = True)
pd.testing.assert_frame_equal(df, df_solution)

AssertionError: DataFrame.iloc[:, 0] (column name="title") are different

DataFrame.iloc[:, 0] (column name="title") values are different (100.0 %)
[left]:  [Zootopia (2016), The Treasure of the Sierra Madre (1948), All Quiet on the Western Front (1930), Rear Window (1954), Selma (2015), Citizen Kane (1941), Casablanca (1942), Inside Out (2015), Gravity (2013), Dr. Strangelove Or How I Learned to Stop Worrying and Love the Bomb (1964), Seven Samurai (Shichinin no Samurai) (1956), Open City (1946), Touch of Evil (1958), Get Out (2017), The Battle of Algiers (La Battaglia di Algeri) (1967), Star Wars: Episode VII - The Force Awakens (2015), Rosemary's Baby (1968), Brooklyn (2015), The Grapes of Wrath (1940), The Conformist (1970), All About Eve (1950), Bicycle Thieves (Ladri di biciclette) (1949), Gone With the Wind (1939), Argo (2012), Moonlight (2016), The Bride of Frankenstein (1935), The 39 Steps (1935), Toy Story 2 (1999), Snow White and the Seven Dwarfs (1937), High Noon (1952), Psycho (1960), 12 Years a Slave (2013), 12 Angry Men (Twelve Angry Men) (1957), La La Land (2016), Rashômon (1951), The Wizard of Oz (1939), The Good, the Bad and the Ugly (1966), The 400 Blows (Les Quatre cents coups) (1959), Manchester by the Sea (2016), Battleship Potemkin (1925), Man on Wire (2008), Toy Story 3 (2010), Up (2009), Spotlight (2015), Boyhood (2014), Harry Potter and the Deathly Hallows - Part 2 (2011), Singin' in the Rain (1952), Tokyo Story (Tôkyô monogatari) (1953), Laura (1944), The Wrestler (2008), The Dark Knight (2008), King Kong (1933), Logan (2017), Taxi Driver (1976), The Third Man (1949), It Happened One Night (1934), Alien (1979), North by Northwest (1959), Pinocchio (1940), Vertigo (1958), Repulsion (1965), Wonder Woman (2017), Baby Driver (2017), The Philadelphia Story (1940), The Maltese Falcon (1941), Apocalypse Now (1979), The Babadook (2014), The Last Picture Show (1971), Modern Times (1936), The Godfather, Part II (1974), Army of Shadows (L'Armée des ombres) (1969), A Hard Day's Night (1964), Sunset Boulevard (1950), L.A. Confidential (1997), The Godfather (1972), La Grande illusion (Grand Illusion) (1938), The Big Sick (2017), Nosferatu, a Symphony of Horror (Nosferatu, eine Symphonie des Grauens) (Nosferatu the Vampire) (1922), The Adventures of Robin Hood (1938), Frankenstein (1931), The Jungle Book (2016), Finding Nemo (2003), Jaws (1975), Hell or High Water (2016), Rebecca (1940), M (1931), Mad Max: Fury Road (2015), E.T. The Extra-Terrestrial (1982), Dunkirk (2017), The Cabinet of Dr. Caligari (Das Cabinet des Dr. Caligari) (1920), The Wages of Fear (1953), Toy Story (1995), On the Waterfront (1954), Roman Holiday (1953), Metropolis (1927), The Night of the Hunter (1955), A Streetcar Named Desire (1951), Arrival (2016), Skyfall (2012), Star Trek (2009)]
[right]: [12 Angry Men (Twelve Angry Men) (1957), 12 Years a Slave (2013), A Hard Day's Night (1964), A Streetcar Named Desire (1951), Alien (1979), All About Eve (1950), All Quiet on the Western Front (1930), Apocalypse Now (1979), Argo (2012), Army of Shadows (L'Armée des ombres) (1969), Arrival (2016), Baby Driver (2017), Battleship Potemkin (1925), Bicycle Thieves (Ladri di biciclette) (1949), Boyhood (2014), Brooklyn (2015), Casablanca (1942), Citizen Kane (1941), Dr. Strangelove Or How I Learned to Stop Worrying and Love the Bomb (1964), Dunkirk (2017), E.T. The Extra-Terrestrial (1982), Finding Nemo (2003), Frankenstein (1931), Get Out (2017), Gone With the Wind (1939), Gravity (2013), Harry Potter and the Deathly Hallows - Part 2 (2011), Hell or High Water (2016), High Noon (1952), Inside Out (2015), It Happened One Night (1934), Jaws (1975), King Kong (1933), L.A. Confidential (1997), La Grande illusion (Grand Illusion) (1938), La La Land (2016), Laura (1944), Logan (2017), Mad Max: Fury Road (2015), Man on Wire (2008), Manchester by the Sea (2016), Metropolis (1927), Modern Times (1936), Moonlight (2016), M (1931), North by Northwest (1959), Nosferatu, a Symphony of Horror (Nosferatu, eine Symphonie des Grauens) (Nosferatu the Vampire) (1922), On the Waterfront (1954), Open City (1946), Pinocchio (1940), Psycho (1960), Rashômon (1951), Rear Window (1954), Rebecca (1940), Repulsion (1965), Roman Holiday (1953), Rosemary's Baby (1968), Selma (2015), Seven Samurai (Shichinin no Samurai) (1956), Singin' in the Rain (1952), Skyfall (2012), Snow White and the Seven Dwarfs (1937), Spotlight (2015), Star Trek (2009), Star Wars: Episode VII - The Force Awakens (2015), Sunset Boulevard (1950), Taxi Driver (1976), The 39 Steps (1935), The 400 Blows (Les Quatre cents coups) (1959), The Adventures of Robin Hood (1938), The Babadook (2014), The Battle of Algiers (La Battaglia di Algeri) (1967), The Big Sick (2017), The Bride of Frankenstein (1935), The Cabinet of Dr. Caligari (Das Cabinet des Dr. Caligari) (1920), The Conformist (1970), The Dark Knight (2008), The Godfather, Part II (1974), The Godfather (1972), The Good, the Bad and the Ugly (1966), The Grapes of Wrath (1940), The Jungle Book (2016), The Last Picture Show (1971), The Maltese Falcon (1941), The Night of the Hunter (1955), The Philadelphia Story (1940), The Third Man (1949), The Treasure of the Sierra Madre (1948), The Wages of Fear (1953), The Wizard of Oz (1939), The Wrestler (2008), Tokyo Story (Tôkyô monogatari) (1953), Touch of Evil (1958), Toy Story 2 (1999), Toy Story 3 (2010), Toy Story (1995), Up (2009), Vertigo (1958), Wonder Woman (2017), Zootopia (2016)]

In [24]:
df_solution.head()

,title,audience_score,number_of_audience_ratings
0,12 Angry Men (Twelve Angry Men) (1957),97,103672
1,12 Years a Slave (2013),90,138789
2,A Hard Day's Night (1964),89,50067
3,A Streetcar Named Desire (1951),90,54761
4,Alien (1979),94,457186